# Version of layers configuration, specific to
# each defined distro in the repository.
# Format: ${DISTRO}-<version>
TD_BBLAYERS_CONF_VERSION = "tegrademo-5"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# define the ROS 2 Yocto target release
ROS_OE_RELEASE_SERIES = "kirkstone"

# define ROS 2 distro
ROS_DISTRO = "humble"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-tegra \
  ##OEROOT##/meta-oe \
  ##OEROOT##/meta-python \
  ##OEROOT##/meta-networking \
  ##OEROOT##/meta-filesystems \
  ##OEROOT##/meta-virtualization \
  ##OEROOT##/meta-tegra-community \
  ##OEROOT##/meta-tegra-support \
  ##OEROOT##/meta-demo-ci \
  ##OEROOT##/meta-tegrademo \
  ##OEROOT##/meta-ros/meta-ros2 \
  ##OEROOT##/meta-ros/meta-ros2-humble \
  ##OEROOT##/meta-ros/meta-ros-common \  
  "
